/*global*/
:root {
    --font-color: white;
    --font-color-dark: black;
    --main-color: #fabc90;
    --secondary-color: #baedb4;
    --terciary-color: #bfb0d1;
    --highlight-color: #4adee6;

    --off-screen: calc(100vh + 200px);
    color: var(--font-color);

    --content-size: 600px;

}

html, body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;

}

body {
    height: 100dvh;
    width: 100dvw;

}

body::before {
    position: fixed;
    content: "";
    background: radial-gradient(circle, #301040, #000000);
    z-index: -20;
    height: 100dvh;
    width: 100dvw;

}

a {
    text-decoration: none;
}

/*floating*/
.nav-container{
    position: fixed;
    width: 100dvw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    justify-items: center;
    background-color: var(--terciary-color);
    height: 2rem;
    z-index: 20;

}

.nav-container a{
    color: var(--font-color-dark);

}

/*carosel*/
.carosel {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 100dvw);

}

/*hero*/
.hero {
    grid-column: 1;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    align-content: center;
    justify-content: center;

}

.hero-body {
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 380px 20px;
    align-items: center;
    justify-items: center;
    column-gap: 100px;

}

.collage-container {
    position: relative;
    grid-column: 1;
    grid-row: 1 / span 3;
    width: var(--content-size); 
    height: var(--content-size); 
    justify-self: right;

}

.collage-container img {
    position: absolute;
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    transform: translate(300px, var(--off-screen)) rotate(-100deg);

}

.collage-container img:nth-child(1) { 
    z-index: -7; 
    animation: deal .5s 0s ease-in-out forwards;
}
.collage-container img:nth-child(2) { 
    z-index: -6; 
    animation: deal .5s .1s ease-in-out forwards;
}
.collage-container img:nth-child(3) { 
    z-index: -5; 
    animation: deal .5s .2s ease-in-out forwards;
}
.collage-container img:nth-child(4) { 
    z-index: -4; 
    animation: deal .5s .3s ease-in-out forwards;
}
.collage-container img:nth-child(5) { 
    z-index: -3; 
    animation: deal .5s .4s ease-in-out forwards;
}
.collage-container img:nth-child(6) { 
    z-index: -2; 
    animation: deal .5s .5s ease-in-out forwards;
}
.collage-container img:nth-child(7) { 
    z-index: -1; 
    animation: deal .5s .6s ease-in-out forwards;
}

@keyframes deal {
    0% {
        transform: translate(300px, var(--off-screen)) rotate(-100deg);

    }
    100% {
        transform: translate(0, 0) rotate(0deg);


    }

}

.hero-body h1 {
    font-size: 5rem;
    grid-column: 2;
    grid-row: 1;
    height: 200px;
    width: var(--content-size);

}

.video-container {
    grid-column: 2;
    grid-row: 2;
    height: 380px;
    width: var(--content-size);

}

.button-container {
    grid-column: 2;
    grid-row: 3;
    width: var(--content-size);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    justify-items: center;
    height: 20px;

}

.call-button {
    font-size: 2rem;
    background-color: var(--main-color);
    padding: 15px;
    border-radius: 25px;
    text-decoration: none;
    color: var(--font-color-dark);
    width: fit-content;

}

.call-button-highlight {
    background-color: var(--secondary-color);

}

.call-button:hover{
    background-color: var(--highlight-color);

}

/*tour*/
.tour-container{
    grid-column: 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    height: 100vh;
    width: 100vw;

}

.bandsintown-container{
    grid-column: 1;
    height: var(--content-size);
    width: var(--content-size);
    padding: 15px;
    border: 1px solid var(--terciary-color);
    border-radius: 15px;

}

.tour-photo-container{
    grid-column: 2;
    perspective: 1000px;
    display: inline-block;

}


.tilt-img {
    transition: transform 0.1s ease-out;
    transform-origin: center;
    width: 100%;
    height: auto;    

}

/*bio*/
.bio-container{
    grid-column: 3;
    width: 100dvw;
    height: 100dvh;
    align-content: center;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem, 1fr;
}

.profile-container{
    grid-column: 1;
    grid-row: 1 / span 2;
    perspective: 1000px;
    align-self: center;
    justify-self: center;

}

.profile-container img{
    height: 400px;
    width: auto;
}

h2 {
    font-size: 2rem;
    width: var(--content-size);
    grid-column: 2;
    grid-row: 1;
    height: 2.2rem;
    align-self: center;

}

article{
    height: var(--content-size);
    width: var(--content-size); 
    line-height: 1.5rem;
    grid-column: 2;
    grid-row: 2;

}

/*discography*/
.discography-container{
    grid-column: 4;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    align-items: center;
    justify-content: center;

}

.discography-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;

}

.more-container{
    height: 350px;
    width: 350px;
    border: var(--terciary-color) 1px solid;
    border-radius: 15px;
    display: grid;
    align-items: center;
    justify-content: center;

}

.more-container:hover .call-button{
    background-color: var(--highlight-color);

}

/*merch*/
.merch-container{
    grid-column: 5;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    align-items: center;
    justify-content: center;

}

.merch-grid iframe{
    height: 90dvh;
    width: 90dvw;   
    
}

/*contact*/
.contact-container{
    grid-column: 6;
    height: 100dvh;
    width: 100dvw;
    display: grid;
    align-items: center;
    justify-content: center;

}

.contact-grid{
    height: var(--content-size);
    width: var(--content-size);
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    justify-content: center;

}

.contact-grid img{
    height: calc(var(--content-size)/2);
    justify-self: center;

}

.email-container {
    align-self: center;
    justify-self: center;

}

.social-container{
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    justify-content: center;
    align-items: center;

}

.fa-brands {
    color: var(--terciary-color);
    font-size: 5rem;

}

.fa-brands:hover{
    color: var(--highlight-color);

}

/*footer*/

/*screen adjustments*/
@media screen and (max-width: 1200px) {
    :root{
     --content-size: 400px;
     font-size: 1rem;
 
    }
 
    .call-button {
     font-size: 1rem;
 
    }
 
    .hero-body h1 {
     font-size: 3rem;
 
    }

    .video-container iframe{
        width: 400px;;

    }

    .discography-grid{
        grid-template-columns: 1fr 1fr;

    }

    .fa-brands {
        font-size: 3rem;
    
    }
     
 }

 @media screen and (max-width: 900px) {
    :root{
     --content-size: 250px;
     font-size: 1rem;
 
    }
 
    .call-button {
     font-size: 1rem;
 
    }
 
    .hero-body h1 {
     font-size: 2rem;
 
    }

    .video-container iframe{
        width: 250px;;

    }

    .discography-grid{
        grid-template-columns: 1fr;

    }

    .fa-brands {
        font-size: 2rem;
    
    }
     
 }

 @media screen and (max-width: 600px) {
    :root{
     --content-size: 320px;
     font-size: 1rem;
     overflow-x: hidden;
 
    }

    .carosel {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, max-content);
        align-items: center;
        justify-content: center;

    }

    .hero{
        grid-row: 1;
        grid-column: 1;
    }

    .hero-body{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);

    }

    .hero-body h1 {
        font-size: 2rem;
        grid-row: 1;
        grid-column: 1;
    
       }

       .collage-container{
        grid-column: 1;
        grid-row: 2;

       }

       .video-container{
        display: none;

       }

    .tour-container{
        grid-row: 2;
        grid-column: 1;
        display: grid;
        align-items: center;
        justify-content: center;

    }

    .tour-photo-container {
        grid-column: 1;
        grid-row: 1;
        align-self: center;
        justify-self: center;

    }

    .tour-photo-container img {
        height: 300px;
        width: auto;

    }

    .bandsintown-container{
        grid-column: 1;
        grid-row: 2;

    }

    .profile-container{
        grid-column: 1;
        grid-row: 2;

    }

    .bio-container {
        grid-row: 3;
        grid-column: 1;
        height: 100dvh;

    }

    .discography-container{
        grid-row: 4;
        grid-column: 1;

    }

    .merch-container{
        grid-row: 5;
        grid-column: 1;

    }

    .contact-container{
        grid-row: 6;
        grid-column: 1;

    }
 
    .call-button {
     font-size: 1rem;
 
    }

    .video-container iframe{
        width: 250px;;

    }

    .discography-grid{
        grid-template-columns: 1fr;

    }

    .fa-brands {
        font-size: 2rem;
    
    }
     
 }